<div class='settingsDetail scroll'>
  <div id='tileSelector' class='tileSelector'>
    <div id='selectedTile' class='selectedTile'></div>
    <div id='cursorTile' class='cursorTile'></div>
  </div>
  <div id='tileProperties' class='tileProperties'>
    <div class='field'>
      <div class='label'>Name</div>
      <div class='control'><input id='tileName'/></div>
    </div>
    <div class='field'>
      <div class='label'>Diff. Range</div>
      <div class='control'>
        <input id='tileMinDiff' style='width:38px;float:left;' disabled/>
        <div id='tileDiffSlider'></div>
        <input id='tileMaxDiff' style='width:38px;float:left;' disabled/>
      </div>
    </div>
    <div class='field'>
      <div class='label'>Mirrorable?</div>
      <div class='control' id='isTileMirrorable'></div>
    </div>
    <div class='field'>
      <div class='label'>Door Puzzle</div>
      <div class='control'></div>
    </div>
  </div>
</div>
<div class='settingsButtons'></div>