div.tileSelector
{
	margin:24px;
	width:360px;
	height:360px;
    background-repeat: no-repeat;
    background-size: 100%;
    float:left;
    
    border:3px solid #000;
    border-radius:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    
    cursor:pointer;
    
    position:relative;
}

div.tileSelector div.selectedTile
{
	position:absolute;
	
	left:0px;
	top:0px;
	
	width:174px;
	height:174px;
    background-color: rgba(0,128,0,0.4);
    border: 3px solid #080;
    color: #0F0;
    border-radius: 10px;
    
    pointer-events:none;
    
    font-size: 72px;
    line-height: 174px;
    text-align: center;
}

div.tileSelector div.cursorTile
{
	position:absolute;
	
	left:0px;
	top:0px;
	
	width:174px;
	height:174px;
    background-color:rgba(128,0,0,0.4);
    border:3px solid #800;
    color: #F00;
    border-radius: 10px;
    
    pointer-events:none;
    display:none;
    
    font-size: 72px;
    line-height: 174px;
    text-align: center;
}

div.tileProperties
{
	float: left;
    width: 486px;
    height: 414px;
}

div.tileProperties div.field
{
	width: 100% !important;
    padding-left: 0px;
    height: 32px;
}

div.tileProperties div.field:FIRST-CHILD
{
	padding-top:16px;
}

div.tileProperties div.field div.label
{
	width: 128px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right:16px;
    float: left;
    text-align: right !important;
}

div.tileProperties div.field div.control
{
	width: 326px;
    float: left;
    height: 32px;
    padding-right: 16px;
}

div.tileProperties div.field div.control div.input
{
	width: 308px;
}

div.tileProperties div.field div.control div.tileDiffSlider
{
	float: left;
    height: 32px;
    width: 186px;
}