<div class='wgRow'>
	<div class='label' for='name'></div>
	<div class='el'><input name='name'/></div>
	<div class='description' for='name'></div>
</div>
<div class='wgRow'>
	<div class='label' for='net.lugdunon.server.worldgen.procedural.world.size'></div>
	<div class='el'><input name='net.lugdunon.server.worldgen.procedural.world.size'/></div>
	<div class='description' for='net.lugdunon.server.worldgen.procedural.world.size'></div>
</div>
<div class='wgRow'>
	<div class='label' for='seed'></div>
	<div class='el'><input name='seed'/></div>
	<div class='description' for='seed'></div>
</div>
<!--
<div class='wgRow'>
	<div class='wgCol'>
		<div class='label' for='vendor.markup'></div>
		<div class='el'><input name='vendor.markup'/></div>
		<div class='description' for='vendor.markup'></div>
	</div>
	<div class='wgCol'>
		<div class='label' for='vendor.repair.discount'></div>
		<div class='el'><input name='vendor.repair.discount'/></div>
		<div class='description' for='vendor.repair.discount'></div>
	</div>
</div>
<div class='wgRow'>
	<div class='wgCol'>
		<div class='label' for='vendor.max.buyback'></div>
		<div class='el'><input name='vendor.max.buyback'/></div>
		<div class='description' for='vendor.max.buyback'></div>
	</div>
	<div class='wgCol'>
		<div class='label' for='item.death.penalty'></div>
		<div class='el'><input name='item.death.penalty'/></div>
		<div class='description' for='item.death.penalty'></div>
	</div>
</div>
-->